<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>我的小窝</title>
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <script src="/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Azure Blog Ui Kit Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'
          rel='stylesheet' type='text/css'>
</head>
<body>
<div class="col-md-12">
    <h1 class="heading text-center">博客/关于我</h1>
    <div class="header">
        <div class="top-header">
            <div class="navigation">
                <div class="top-menu">
                    <span class="menu"><img src="/images/menu.png" alt=""></span>
                    <ul>
                        <li><a href="#">博客</a></li>
                        <li><a href="#">随笔</a></li>
                        <li><a href="#">相册</a></li>
                        <li><a href="#">关于我</a></li>
                        <li><a href="#">联系我</a></li>
                    </ul>
                </div>
                <!--script for menu-->
                <script>
                    $("span.menu").click(function () {
                        $(".top-menu ul").slideToggle(500, function () {
                        });
                    });
                </script>
                <!--script for menu-->
            </div>
            <div class="search">
                <!-- start search-->
                <div class="search-box">
                    <div id="sb-search" class="sb-search">
                        <form>
                            <input class="sb-search-input" placeholder="Enter your search term..." type="search"
                                   name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>
                <!-- search-scripts -->
                <script src="/js/classie.js"></script>
                <script src="/js/uisearch.js"></script>
                <script>
                    new UISearch(document.getElementById('sb-search'));
                </script>
                <!-- //search-scripts -->
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="logo text-center">
            <a href="index.html"><img src="/images/logo.png" alt=""/></a>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="total-content">
    <div class="span_one_of_three">
        <div class="col-md-6 span1">
            <div class="span1_top">
                <div class="one text-center">
                    <h6>news</h6>
                    <span></span>
                    <h3>China Has a Massive Debt Problem</h3>
                    <h5>China has <br> a $28 trillion problem.</h5>
                    <p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>2 hours ago</p>
                </div>
                <div class="two">
                    <img src="/images/2.jpg" alt=""/>
                    <div class="news">
                        <p><span>news</span> <a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i
                                class="date"></i>2 hours ago</p>
                        <a class="newsmore" href="">These Are the Happiest Countries in the World</a>
                        <h5>The U.S. ranks No. 15 among 158 countries in the World Happiness Report 2015</h5>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="span1_bottom">
                <div class="wmuSlider example1">
                    <div class="wmuSliderWrapper">
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-wrap">
                                <div class="slider-info">
                                    <h6>science</h6>
                                    <h3>Is NASA Building a Huge Rocket to Nowhere?</h3>
                                    <p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i
                                            class="date"></i>2 hours ago</p>
                                </div>
                            </div>
                        </article>
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-wrap">
                                <div class="slider-info">
                                    <h6>science</h6>
                                    <h3>Is NASA Building a Huge Rocket to Nowhere?</h3>
                                    <p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i
                                            class="date"></i>2 hours ago</p>
                                </div>
                            </div>
                        </article>
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-wrap">
                                <div class="slider-info">
                                    <h6>science</h6>
                                    <h3>Is NASA Building a Huge Rocket to Nowhere?</h3>
                                    <p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i
                                            class="date"></i>2 hours ago</p>
                                </div>
                            </div>
                        </article>
                        <article style="position: absolute; width: 100%; opacity: 0;">
                            <div class="banner-wrap">
                                <div class="slider-info">
                                    <h6>science</h6>
                                    <h3>Is NASA Building a Huge Rocket to Nowhere?</h3>
                                    <p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i
                                            class="date"></i>2 hours ago</p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <!---->
                <script src="/js/jquery.wmuSlider.js"></script>
                <script>
                    $('.example1').wmuSlider({
                        pagination: true,
                        nav: true,
                    });
                </script>

            </div>
        </div>
        <div class="col-md-3 span2">
            <div class="three">
                <img src="/images/3.jpg" alt=""/>
                <div class="tech">
                    <p><span>tech</span><a href="#"> <i class="commenticon"></i></a><a href="#">12</a> <i
                            class="date"></i>2 hours ago</p>
                    <a class="newsmore1" href="#">Apple Watch Review: You’ll Want One, but You Don’t Need One</a>
                </div>
            </div>
            <div class="four text-center">
                <h6>interview</h6>
                <span></span>
                <img src="/images/user.jpg" alt=""/>
                <h4>An Interview with Photographer Joanna Kustra</h4>
            </div>
        </div>
        <div class="col-md-3 span3">
            <div class="top-news">
                <h3>top news</h3>
                <img src="/images/ribbon.png" class="ribbon" alt=""/>
                <img src="/images/4.jpg" alt=""/>
                <a href="#" class="morenews">This Is the Trader Behind Some of Deutsche Bank's Most Embarrassing
                    Messages</a>
                <p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>Apr 25, 2015</p>
                <a href="#" class="morenews">If You Like the Breakfast at the National in New York, Then Try These Other
                    Spots</a>
                <p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>Apr 25, 2015</p>
                <a href="#" class="morenews">Nasdaq Composite Gains as Google, Amazon.com Rally on Earnings</a>
                <p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>Apr 25, 2015</p>
                <a href="#" class="morenews">Here’s What It’s Like to Eat in the House of Lords’ Exclusive Parliament
                    Dining Room</a>
                <p><a href="#"><i class="commenticon"></i></a><a href="#">12</a> <i class="date"></i>Apr 25, 2015</p>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="content-bottom">
        <div class="col-md-3">
            <div class="futurestory text-center">
                <h6>Feature Story</h6>
                <span></span>
                <h3>Global Temperature Records Just Got Crushed Again</h3>
                <h5>It just keeps getting hotter. </h5>
                <p><a href="#"><i class="commenticon1"></i></a><a href="#">12</a> <i class="date1"></i>2 hours ago</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="video">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><span><img src="/images/play-button.png"
                                                                                          alt=""/> </span></a>
                <div id="small-dialog" class="mfp-hide">
                    <iframe width="500" height="281" src="https://www.youtube.com/embed/4u4lSmQTWgc" frameborder="0"
                            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <link href="/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
                <script src="/js/jquery.magnific-popup.js" type="text/javascript"></script>
                <script>
                    $(document).ready(function () {
                        $('.popup-with-zoom-anim').magnificPopup({
                            type: 'inline',
                            fixedContentPos: false,
                            fixedBgPos: true,
                            overflowY: 'auto',
                            closeBtnInside: true,
                            preloader: false,
                            midClick: true,
                            removalDelay: 300,
                            mainClass: 'my-mfp-zoom-in'
                        });
                    });
                </script>
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><label></label>watch live</a>
                <h4>One Day, Three Cities: Taking Scotland's Political Pulse</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="quotation text-center">
                <h6>Feature Story</h6>
                <span></span>
                <h5>I don't care that they stole my idea … I care that they don't have any of their own.</h5>
                <a href="">— Nikola Tesla</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="middle-banner">
        <span>politics</span>
        <h3>Cameron Set to Return With U.K. Majority as SNP Sweeps Scotland</h3>
    </div>
    <div class="author-post">
        <div class="col-md-2 post-by">
            <h6>by</h6>
            <a href="#">Robert Hutton,</a>
            <a href="#">Svenja O'Donnell</a>and
            <a href="#">Thomas Penny</a>
            <div class="social-icons">
                <ul>
                    <li><a href="#" class="facebook"></a></li>
                    <li><a href="#" class="twitter"></a></li>
                    <li><a href="#" class="googlepluse"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 article-text">
            <h4>David Cameron is poised to return as U.K. prime minister after steering his Conservatives to an
                unexpected majority, helped by a landslide for nationalists in Scotland at Labour’s expense.

                The pound jumped as projections of the final tally in the British general election indicated that the
                Conservatives had defied opinion polls to easily defeat Ed Miliband’s Labour Party. With most seats
                declared, the BBC forecast the Tories to take 331 of Parliament’s 650 seats to Labour’s 232 seats, a
                result that would allow Cameron to ditch his Liberal Democrat coalition partner of the past five years
                and govern alone.</h4>
            <img src="/images/quote1.jpg" class="text-center" alt=""/>
            <h3>The Sweetest <i>Victory </i>of All</h3>
            <img src="/images/quote2.jpg" alt=""/>
            <h4>Cameron hailed the election outcome as the “the sweetest victory of all” and a vindication of the Tory
                campaign based on his record of producing an economic recovery and cutting a record budget deficit. The
                result also raises the prospect of a referendum on whether Britain should remain in the European Union,
                while the surge in support for the Scottish National Party renews questions over the integrity of the
                United Kingdom just eight months after Scots voted “No” to independence.
            </h4>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="last-banner">
    </div>
    <div class="last-article">
        <div class="col-md-8 col-md-offset-2">
            <h4>With Cameron immediately renewing his pledge to hold a referendum on British membership of the European
                Union, the result throws up questions about Britain’s constitutional future. For now, the surprise
                victory was welcomed by markets, with stocks and the pound rallying as it became clear Cameron had
                defied forecasts of a hung parliament to easily defeat Ed Miliband’s Labour Party and govern alone.</h4>
            <h3>Buckingham Palace</h3>
            <h4>The premier was meeting with Queen Elizabeth II at Buckingham Palace as the Conservatives reached the
                326-seat threshold that allows them
                to ditch their Liberal Democrat coalition partners and govern alone in the 650-seat Parliament.</h4>
            <ul class="categories">
                <li><a href="#">markets</a></li>
                <li><a href="#">business</a></li>
                <li><a href="#">sport</a></li>
                <li><a href="#">special reports</a></li>
                <li><a href="#">culture</a></li>
            </ul>
            <div class="clearfix"></div>
            <ul class="share">
                <li>share:</li>
                <li>
                    <div id="fb-root"></div>
                    <script>(function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));</script>

                    <div class="fb-like" data-href="https://www.facebook.com/w3layouts" data-layout="button_count"
                         data-action="like" data-show-faces="true" data-share="false"></div>
                </li>
                <li><a href="https://twitter.com/w3layouts" class="twitter-share-button" data-dnt="true">Tweet</a>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + '://platform.twitter.com/widgets.js';
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, 'script', 'twitter-wjs');</script>
                </li>
            </ul>
            <div class="comments">
                <h5>Comments</h5>
                <div class="comment">
                    <div class="client">
                        <img src="/images/c1.jpg" alt=""/>
                    </div>
                    <div class="client-message">
                        <p><a href="#">john doe</a><i class="date"></i>2 hours ago</p>
                        <h6>While Cameron has had a great night, I suspect his problems in some way have only just
                            begun.</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="comment">
                    <div class="client">
                        <img src="/images/c2.jpg" alt=""/>
                    </div>
                    <div class="client-message">
                        <p><a href="#">Allon poe</a><i class="date"></i>6 hours ago</p>
                        <h6>The debate over EU membership is likely to come up pretty quickly and could prove a
                            significant distraction for business and government.</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <textarea type="text" onfocus="this.value = '';"
                          onblur="if (this.value == '') {this.value = 'Your comment...';}"
                          required="">Your comment...</textarea>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="col-md-12">
    <div class="footer">
        <div class="footer-top">
            <h2>azure</h2>
            <p>SEO text Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this
                shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give
                you this case, it don't belong to me. Besides, I've already been through too much shit this morning over
                this case to hand it over to your dumb ass.</p>
            <div class="clearfix"></div>
        </div>
        <div class="footer-bottom">
            <div class="bottom-menu">
                <ul>
                    <li><a href="#">News</a></li>
                    <li><a href="#">gallery</a></li>
                    <li><a href="#">blog</a></li>
                    <li><a href="#">about</a></li>
                    <li><a href="#">contacts</a></li>
                </ul>
            </div>
            <div class="copy-rights">
                <p>&copy; 2015 All rights Reserved | Template by <a href="http://w3layouts.com" target="target_blank">W3Layouts</a>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</body>
</html>