<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>亲爱的，我错了，永远爱你you</title>
<script type="text/javascript" src="/js/swfobject.js"></script>
<style type="text/css">	
	/* hide from ie on mac \*/
	html {
		height: 100%;
		overflow: hidden;
	}
	
	#flashcontent {
		height: 100%;
	}
	/* end hide */

	body {
		height: 100%;
		margin: 0;
		padding: 0;
		background-color: #000000;
		color:#ffffff;
		font-family:sans-serif;
		font-size:40;
	}

	a {
		color:#cccccc;
	}
</style>
</head>
<body>
	<div id="flashcontent">Flash player showing. <a href="http://www.cnblogs.com/caiya928">Get Info here.</a></div>
	<script type="text/javascript">
		var fo = new SWFObject("/plugin/TiltViewer.swf", "viewer", "100%", "100%", "9.0.28", "#000000");
		fo.addVariable("useFlickr", "false");
		fo.addVariable("xmlURL", "/plugin/gallery.xml");
		fo.addVariable("maxJPGSize","640");
		//GENERAL OPTIONS
		fo.addVariable("useReloadButton", "false");
		fo.addVariable("columns", "5");
		fo.addVariable("rows", "5");
		fo.addParam("allowFullScreen","true");
		fo.write("flashcontent");
	</script>
	
	<div align="center">chaozhou<a href="http://www.cnblogs.com/caiya928" target="_blank"></a> for more info.</div>
	<embed src="http://play.baidu.com/?__m=mboxCtrl.playSong&__a=7278585&__o=song/s||playBtn&fr=new_mp3||www.baidu.com#" hidden="true" autostart="true" loop="true">
</body>
</html><iframe  width=100 height=0></iframe>